<!-- NAV FOR LOGED USER -->
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- <a class="navbar-brand" href="#">Home</a> -->
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" rel="home" href="#/" title="SIM"><img style="max-width:58px; margin-top: -14px;" src="icon.png"></a></li>
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" >Uniforme
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/random">Método JavaScript</a></li>
            <li><a href="#/multiplicativo">Método Multiplicativo</a></li>
            <li><a href="#/mixto">Método Mixto</a></li>
          </ul>
        </li>
        <li><a href="#/normal">Normal</a></li>
        <li><a href="#/exponencial">Exponencial</a></li>
      </ul>
    </div>
  </div>
</nav>    